table{
  margin-bottom: unset;
  width: 1129px;
}
thead{
  background-color: #e4e9f0b3;
  color: #52657c;
}
.table-container{
  overflow-x: scroll;
}

::-webkit-scrollbar {
  width: 7px;
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background: gray;
  border-radius: 7px;
}
.card-body{
  width: 85%;
  /* margin-left: 120px; */
  margin: auto;
}

.view-hide-btn{
  width: 115px;
  height: 30px;
  padding-top: 2px;

}
.view-hide-btn>p{
font-family: 300;
font-size: .875rem;
padding-top: 2px;
}
.load-btn{
  color: #152858;
  background-color: #e4e9f0cc;
  border-color: #e4e9f0cc;
}
.load-more-btn{
  color: grey;
}
.th-id{
  width: 50px;
}
.th-cont{
  width: 200px;
}
th{
  font-weight: 500;
  font-size: .875rem;
}
tr{
  height: 60px;
  vertical-align: middle;
}
.tr-header{
  height: 50px;
}
td{
  font-weight: 300;
  font-size: 0.9rem;
}
