<div class="main-cards-cont mb-4 shadow bg-body rounded">
  <div class="row d-flex p-3">
    <div class="col-sm pb-lg-0">
        <h4 class="text-secondary">
          Number of Contractors
        </h4>
        <h3 class="text-primary">
          0
          <span class="text-secondary">Contractor (s)</span>
        </h3>
        <hr class="hr-blue">
    </div>
    <div class="col-sm pb-lg-0">
        <h4 class="text-secondary">
          Number of Rides
        </h4>
        <h3 class="text-primary">
          0
          <span class="text-secondary">Ride (s)</span>
        </h3>
        <hr class="hr-yellow">
    </div>
    <div class="col-sm pb-lg-0">
        <h4 class="text-secondary">
          NUMBER OF PERIOD 3 MILES
        </h4>
        <h3 class="text-primary">
          $0.00
        </h3>
        <hr class="hr-green">
    </div>
    <div class="col-sm pb-lg-0">
        <h4 class="text-secondary">
          CALCULATED PREMIUM
        </h4>
        <h3 class="text-primary">
          $0.00
        </h3>
        <hr class="hr-grey">
    </div>
    <div class="col-sm pb-lg-0">
        <h4 class="text-secondary">
          PREMIUM PAYMENT DUE
        </h4>
        <h3 class="text-primary">
          $0.00
        </h3>
        <hr class="hr-red">
    </div>
  </div>
</div>
